.schedule-cell-gradient-default {
  background-image: linear-gradient(
    to bottom,
    transparent 30%,
    #c8b06b 30%,
    #c8b06b 80%,
    transparent 80%
  );
}

@media (min-width: 640px) {
  /* sm */
  .sm\:schedule-cell-gradient-custom {
    background-image: linear-gradient(
      to bottom,
      transparent 20%,
      #c8b06b 20%,
      #c8b06b 70%,
      transparent 70%
    );
  }
}

@media (min-width: 768px) {
  /* md */
  .md\:schedule-cell-gradient-custom {
    background-image: linear-gradient(
      to bottom,
      transparent 25%,
      #c8b06b 25%,
      #c8b06b 75%,
      transparent 75%
    );
  }
}
