node_modules

.env
.env*
.env.*
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local
!.env.example

build
.vercel

# next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
